<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Area">
    <insert id="insertArea" parameterType="Area">
        INSERT INTO USER_AREA (userSid, tagId) VALUES (
        (SELECT userSid FROM USERS Where USERS.id = #{id}),
        (SELECT tagId FROM AREAS WHERE AREAS.name = #{areaName}));
    </insert>

    <delete id="deleteArea" parameterType="Area">
        DELETE FROM USER_AREA WHERE (
        userSid = (SELECT userSid FROM User Where User.id = #{id}) AND
        tagId = (SELECT tagId FROM AREAS WHERE AREAS.name = #{areaName}));
    </delete>

    <select id="getAreas" parameterType="String" resultType="String">
         SELECT AREAS.name FROM AREAS
    INNER JOIN USER_AREA  ON AREAS.tagId = USER_AREA.tagId
    INNER JOIN USERS ON USER_AREA.userSid = USERS.userSid
    WHERE USERS.id = #{id};
    </select>

    <select id="getAllAreas" resultType="String">
        SELECT name FROM AREAS ORDER BY name;
    </select>
</mapper>