<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="User">
    <insert id="insertUser" parameterType="User">
        INSERT INTO USERS (name, id, pass, gender, email, nickname)
            values( #{name}, #{id}, #{pass}, #{gender}, #{email}, #{nickname})
    </insert>

    <insert id="insertUserAuth" parameterType="User">
         INSERT INTO USER_AUTHORITY (userSid, authorityName) VALUES (
        (SELECT userSid FROM USERS Where USERS.id = #{id}),
        <foreach collection="roles" item="role"  open="(" close=")" separator="or">
            #{role}
        </foreach>
        );
    </insert>

    <select id="getUserAuth" parameterType="String" resultType="String">
        SELECT authorityName FROM USER_AUTHORITY
        INNER JOIN USERS ON USER_AUTHORITY.userSid = USERS.userSid
        WHERE USERS.id = #{id}
    </select>

    <select id="getUser" parameterType="String" resultType="User">
        SELECT * FROM USERS WHERE id = #{id}
    </select>

    <update id="updateUser" parameterType="User">
        UPDATE USERS SET email = #{email}, nickname = #{nickname}, pass = #{pass} WHERE id = #{id}
    </update>

    <delete id="deleteUser" parameterType="User">
        DELETE FROM USERS WHERE id = #{id}
    </delete>

    <select id="getUserFriends" parameterType="String" resultType="User">
        SELECT * FROM USERS order by id
    </select>

    <select id="getUserCount" resultType="int">
        SELECT COUNT(*) FROM USERS
    </select>

    <select id="getIdExists" parameterType="String" resultType="int">
        SELECT EXISTS (SELECT * FROM USERS where id = #{id}) as success
    </select>

    <select id="getEmailExists" parameterType="String" resultType="int">
        SELECT EXISTS (SELECT * FROM USERS where email = #{email}) as success
    </select>
</mapper>